.banner-items{
    background-image: url('../images/banner.png');
    height:550px;
    background-repeat: no-repeat;
    margin-top: 60px;
    padding-left: 40px;
}
.button{
    background-color:#F3F3F3;
    text-align: center;  
}
.footer{
    height: 500px;
    background-color: black;
}
.abc{
    margin-top: 150px;
    margin-left: 100px;
}
.buttons{
    background-color: #B68C5A;
    padding: 13px;
    border-style: none;
    border-radius: 10px;
    color: white;
}

